@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
body {
	background: rgb(52, 89, 16);
	background: linear-gradient(
		93deg,
		rgba(52, 89, 16, 1) 1%,
		#6f4112 38%,
		#e764ba 100%
	);
	margin: 0;
	padding: 0;
}
