@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
body {
	background-image: url("/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.title {
	color: orange;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ec6307,
			0 0 40px #ec6307, 0 0 50px #ec6307, 0 0 60px #ec6307,
			0 0 70px #ec6307;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ec7037, 0 0 40px #ec7037,
			0 0 50px #ec7037, 0 0 60px #ec7037, 0 0 70px #ec7037,
			0 0 80px #ec7037;
	}
}
